# Discord
DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
STAFF_ROLE_ID=
BOOST_CHANNEL_ID=
CREW_ROLE_ID=
SUGGESTIONS_CHANNEL_ID=

# Firebase
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_DATABASE_URL=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=

# fill out all!
